@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

/* .inclusive-sans-regular {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inclusive-sans-regular-italic {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  } */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    background-color: lightpink;
    display: flex;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-section{
    background-color: #0A1828;  
    min-height: 100vh;  
    position: fixed;
    width: 40%;
    color: #BFA181;
}
.static-section{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome{
    font-size: 4.5vw;    
    text-align: center;
}

.container-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

#img-container {
    width: 50%;
    min-width: 300px;  
    padding: 20px;
    /* background-color: lightgray;   */
}

#img-container img {
    /* padding: 1em; */
    width: 70%;
    height: auto;
    border-radius: 300px;
}

#img-container h1{
    font-size: 1.7vw;    
}

#img-container h3{
    font-size: 1.2vw;
}
.container-description{
    width: 50%;
    padding: 20px;
    min-width: 300px;  
    /* background-color: lightsalmon; */
}

.dynamic-sections{
    background-color: lightgreen;
    min-height: 100vh;
}

.d-section{
    min-height: 100vh;
}

#home{
    background-color: lightslategray;
}
#about{
    background-color: lightgrey;
}
#skills{
    background-color: lightyellow;
}
#projects{
    background-color: lightsalmon;
}
#contact{
    background-color: lightcoral;
}