@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

/* .inclusive-sans-regular {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inclusive-sans-regular-italic {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  } */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

.main-section{
    background-color: #0A1828;  
    min-height: 100vh;  
    position: fixed;
    width: 40%;
    color: #BFA181;
}
.static-section{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome{
    font-size: 4.5vw;    
    text-align: center;
    color: #178582;
}

.container-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

#img-container {
    width: 50%;
    min-width: 300px;  
    padding: 20px;
    /* background-color: lightgray;   */
}

#img-container img {
    /* padding: 1em; */
    width: 70%;
    height: auto;
    border-radius: 300px;
}

#img-container h1{
    font-size: 1.7vw; 
    margin: 10px 0;   
}

#img-container h3{
    font-size: 1.2vw;
    margin: 10px 0;
}

#img-container p{
    font-size: 0.7vw;
    padding: 5px 0;
}
.container-description{
    width: 50%;
    padding: 20px;
    min-width: 300px;  
    font-size: 0.7vw;
    /* background-color: lightsalmon; */
}

.dynamic-sections{
    background-color: lightgreen;
    min-height: 100vh;
}

.d-section{
    min-height: 100vh;
}

#home{
    background-color: lightslategray;
}
#about{
    background-color: lightgrey;
}
#skills{
    background-color: lightyellow;
}
#projects{
    background-color: lightsalmon;
}
#contact{
    background-color: lightcoral;
}

@media only screen and (max-width: 430px) {
    .main-section{
        background-color: #0A1828;  
        min-height: 100vh;          
        width: 100%;
        color: #BFA181;
        position: absolute;
    }

    .static-section{        
        justify-content: center;
    }

    .welcome{
        font-size: 10vw;    
        text-align: center;
        color: #178582;
    }

    #img-container {
        width: 100%;        
        padding: 20px;   
        display: flex;
        flex-direction: column;
        /* justify-content: center;   */
        align-items: center;   
    }
    
    #img-container img {
        /* padding: 1em; */
        align-content: center;
        width: 70%;
        height: auto;
        border-radius: 300px;
    }
    
    #img-container h1{
        font-size: 8vw; 
        margin: 10px 0;   
    }
    
    #img-container h3{
        font-size: 4vw;
        margin: 10px 0;
    }
    
    #img-container p{
        font-size: 0.7vw;
        padding: 5px 0;
    }
}